@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --ch-scrollycoding-sticker-width: 600px;
    --gradient: linear-gradient(to top left, #5f2c82, #49a09d);

    --background: 269 98.05% 98.42%;
    --foreground: 269 6.1% 0.84%;

    --muted: 269 6.1% 92.1%;
    --muted-foreground: 269 3.05% 42.1%;

    --popover: 269 41.2% 92.1%;
    --popover-foreground: 269 6.1% 1.05%;

    --card: 269 41.2% 92.1%;
    --card-foreground: 269 6.1% 1.05%;

    --border: 269 11.1% 89.84%;
    --input: 269 11.1% 89.84%;

    --primary: 293 49% 34%;
    --primary-foreground: 293 4.9% 96.7%;

    --secondary: 293 24.5% 10.200000000000001%;
    --secondary-foreground: 293 4.9% 96.7%;

    --accent: 269 3.05% 96.05%;
    --accent-foreground: 269 4.66% 12.1%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --ring: 293 49% 21%;

    --radius: 0.5rem;
  }

  .dark {
    --gradient: linear-gradient(to top left, #4c2367, #387a78);

    --background: 293 31.849999999999998% 2.72%;
    --foreground: 293 4.9% 96.7%;

    --muted: 293 24.5% 10.200000000000001%;
    --muted-foreground: 293 4.9% 53.4%;

    --popover: 293 55.2% 4.42%;
    --popover-foreground: 293 4.9% 96.7%;

    --card: 293 55.2% 4.42%;
    --card-foreground: 293 4.9% 96.7%;

    --border: 293 24.5% 10.200000000000001%;
    --input: 293 24.5% 10.200000000000001%;

    --primary: 293 49% 34%;
    --primary-foreground: 293 4.9% 96.7%;

    --secondary: 293 24.5% 10.200000000000001%;
    --secondary-foreground: 293 4.9% 96.7%;

    --accent: 293 24.5% 10.200000000000001%;
    --accent-foreground: 293 4.9% 96.7%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 293 4.9% 96.7%;

    --ring: 293 49% 34%;
  }
}

.bg-gradient {
  background: var(--gradient);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.ch-code-scroll-parent {
  @apply leading-6 font-mono;
  font-size: 15px;
}

.mdx :where(ul ul, ul ol, ol ul, ol ol) {
  margin-top: 0;
}
