name: Build

on:
  pull_request:
    branches:
      - main
      - develop
  push:
    branches:
      - main
      - develop

jobs:
  test:
    services:
      devnet:
        image: shardlabs/starknet-devnet-rs:0.0.6-seed0
        ports:
          - 5050:5050
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Set Node version
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - uses: pnpm/action-setup@v2
        with:
          version: 8
      - name: Install dependencies
        run: pnpm install --strict-peer-dependencies=false --no-frozen-lockfile
      - name: Run check format
        run: pnpm format:check
      - name: Run lint
        run: pnpm lint
      - name: Run build
        run: pnpm build
      - name: Run test
        run: pnpm test
