name: Release

on:
  push:
    branches:
      - main

jobs:
  release:
    environment: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set Node version
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - uses: pnpm/action-setup@v4
        with:
          version: 9.10.0
      - name: Install dependencies
        run: pnpm install --strict-peer-dependencies=false --no-frozen-lockfile
      - name: Run build
        run: pnpm build
      - name: Setup git
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git remote set-url origin "https://${GIT_TOKEN}@github.com/apibara/starknet-react"
        env:
          GIT_TOKEN: ${{ secrets.GIT_TOKEN }}
      - name: Install dependencies
        run: pnpm install --strict-peer-dependencies=false --no-frozen-lockfile
      - name: Publish package
        run: pnpm beachball publish --access public --token "${NPM_TOKEN}"
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
